image: node:lts-bullseye
pages:
    stage: deploy
    cache:
        key:
            files:
                - package-lock.json
            prefix: npm
        paths:
            - node_modules/
    script:
        - npm install
        - cd Portfolio
        - npm install
        - npm run build
        - ls
        - cp -a public/ dist/.
    artifacts:
        paths:
            - public
            - dist
    rules:
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
