stages:
    - build
    - deploy

build-front-end-job:
    stage: build
    image: node:lts-bullseye
    cache:
        key:
            files:
                - package-lock.json
            prefix: npm
        paths:
            - node_modules/
    script:
        - npm install
        - cd Portfolio
        - npm install
        - npm run build
        - cp -a dist/. public/
    artifacts:
        paths:
            - Portfolio/public/

pages:
    stage: deploy
    rules:
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    script:
        - mv Portfolio/public/ public
    artifacts:
        paths:
            - public
