stages:
    - build
    - deploy

build-front-end-job:
    stage: build
    image: node:lts-bullseye
    variables:
        PUBLIC_URL: https://sragasa97.gitlab.io/
    script:
        - cd Portfolio
        - npm install
        - npm run build
        - cp build/index.html build/404.html
    artifacts:
        paths:
            - Portfolio/build/

pages:
    stage: deploy
    rules:
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    dependencies:
        - build-front-end-job
    needs:
        - build-front-end-job
    script:
        - mv Portfolio/build/ public
    artifacts:
        paths:
            - public
