@tailwind components;

@layer components {
	/* Navigation Classes */
	.glassmorphism {
		@apply rounded-xl bg-[rgba(255,255,255,0.2)] shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-md;
	}

	.active {
		@apply text-primaryAccent dark:text-darkCTA
	}

	.desktopIcons {
		@apply w-8 h-8 relative inline-flex justify-center items-center rounded-full bg-transparent border-2 border-primaryAccent dark:border-darkCTA overflow-hidden text-xl text-primaryAccent dark:text-darkCTA;
	}

	.mobileIcons {
		@apply w-8 h-8 relative inline-flex justify-center items-center rounded-full bg-transparent border-2 border-black dark:border-darkCTA overflow-hidden text-xl text-black dark:text-darkCTA hover:border-mainBg dark:hover:border-darkSecondaryAccent hover:text-mainBg dark:hover:text-darkSecondaryAccent dark:hover:bg-darkCTA;
	}

	.mobileLinks {
		@apply py-2 border-t-2 border-primaryAccent dark:border-darkCTA hover:bg-mainBg hover:underline hover:underline-offset-[6px] hover:decoration-2 hover:tracking-widest dark:hover:text-darkMainBg dark:hover:decoration-darkMainBg;
	}
}
