@tailwind components;

@layer components {
	/* Navigation Classes */
	.glassmorphism {
		@apply rounded-xl bg-[rgba(255,255,255,0.2)] shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-md;
	}

	.active {
		@apply text-primaryAccent
	}

	.desktopIcons {
		@apply w-8 h-8 relative inline-flex justify-center items-center rounded-full bg-transparent border-2 border-primaryAccent overflow-hidden text-xl text-primaryAccent;
	}

	.mobileIcons {
		@apply w-8 h-8 relative inline-flex justify-center items-center rounded-full bg-transparent border-2 border-black overflow-hidden text-xl text-black hover:border-mainBg hover:text-mainBg;
	}

	.mobileLinks {
		@apply py-2 border-t-2 border-primaryAccent hover:bg-mainBg hover:underline hover:underline-offset-[6px] hover:decoration-2 hover:tracking-widest;
	}
}
