@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-bg-color: #faf3dd;
	--cta-color: #bc6c25;
	--primary-accent-color: #4a7c59;
	--secondary-accent-color: #465e51;
	--tertiary-accent-color: #dda15e;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-bg-color: #000033;
		--cta-color: #faf3dd;
		--primary-accent-color: #7d7a88;
		--secondary-accent-color: #3f3d5e;
		--tertiary-accent-color: #bcb6b3;
	}
}

html,
body,
#root {
	width: 100%;
	max-width: 100svw;
	font-size: calc(15px + 0.390625vw); /*Responsive Font Size For Every Screen */
	scroll-behavior: smooth !important;
}

section {
	height: max-content;
	width: 100%;
}

.portfolioComponent {
	width: clamp(320px, 80%, 1536px);
	margin: 0 auto;
}

@layer components {
	body,
	#root {
		@apply flex flex-col items-center overflow-x-hidden dark:text-darkCTA font-lexend bg-mainBg dark:bg-darkMainBg;
	}

	::selection {
		@apply bg-primaryAccent dark:bg-darkCTA text-mainBg dark:text-darkMainBg;
	}
}
