nav {
	height: max-content;
	width: 90%;
	padding: 0.5rem 3.5rem;
	position: fixed;
	inset: 3.5% 0rem 0rem 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
	/* text-decoration: none; */
	display: grid;
	place-items: center;
	letter-spacing: 0.15rem;
}

.logoHover a::before {
	content: "";
	position: absolute;
	transform: translate(10px 10px);
	/* margin: auto; */
	height: 0;
	width: 0;
	background-color: #8fc0a9;
	z-index: -1;
	border-radius: 9999px;
	transition: 0.5s;
}

.logoHover a:hover::before {
	height: 2rem;
	width: 2rem;
	color: black;
	border-color: black;
}

.logoHover a i {
	transition: 0.5s;
}

.logoHover a:hover i {
	color: black;
	border-color: #4a7c59;
}
