nav {
	height: max-content;
	width: clamp(320px, 90%, 1800px);
	padding: 0.5rem 3.5rem;
	position: fixed;
	z-index: 10;
	inset: 3.5% 0px 0px;
	margin: 0px auto 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
	display: grid;
	place-items: center;
	letter-spacing: 0.15rem;
}

.logoHover a {
	position: relative;
}

.logoHover a i,
.logoHover a::before {
	transition: 0.25s;
}

.logoHover a::before {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	inset: 0;
	z-index: -1;
	margin: auto;
	background-color: var(--primary-accent-color);
	border-radius: 9999px;
}

.logoHover a:hover i,
.logoHover a:hover::before {
	color: black;
	border-color: var(--cta-color);
}

.logoHover a:hover::before {
	height: 2rem;
	width: 2rem;
}

.navHover {
	transition: 0.25s;
}
