nav {
	height: max-content;
	width: clamp(320px, 80%, 1536px);
	padding: 0.5rem 1rem;
	position: fixed;
	z-index: 20;
	inset: 1.8rem 0px 0px;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
	position: relative;
	display: grid;
	place-items: center;
	letter-spacing: 0.15rem;
	transition: 0.25s;
}

.nav-item:hover:not(.active) {
	color: var(--primary-accent-color);
	text-shadow: 1px 1px 0px black;
}

.nav-item::after {
	content: "";
	position: absolute;
	background-color: var(--primary-accent-color);
	height: 2px;
	width: 0;
	left: 0;
	bottom: -0.28rem;
	transition: 0.25s;
}

.nav-item:hover:not(.active)::after,
.nav-item.active::after {
	width: 100%;
}

.logoHover a {
	position: relative;
}

.logoHover a i,
.logoHover a::before {
	transition: 0.25s;
}

.logoHover a::before {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	inset: 0;
	z-index: -1;
	margin: auto;
	background-color: var(--primary-accent-color);
	border-radius: 9999px;
}

.logoHover a:hover i,
.logoHover a:hover::before {
	color: black;
	border-color: black;
}

.logoHover a:hover::before {
	height: 2rem;
	width: 2rem;
}

.navHover {
	transition: 0.25s;
}

#hamburgerMenu {
	position: absolute;
	width: 100%;
	padding: 0.5rem 0;
	z-index: 10;
	inset: 3.5rem 0px 0px;
	margin: 0px auto 0px;
}
